<%= form_for @company, url: companies_path do |f| %>

<% if @company.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@company.errors.count, "error") %> prohibited
      this company from being saved:</h2>
    <ul>
    <% @company.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
 <% end %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <table>     
      <tr>
        <td></td>
        <td>Black</td>
        <td>White</td>
      </tr>
      <tr>
        <td>Males</td>
        <td><%= f.text_field :black_male %></td>
        <td><%= f.text_field :white_male %></td>
      </tr>
      <tr>
        <td>Females</td>
        <td><%= f.text_field :black_female %></td>
        <td><%= f.text_field :white_female %></td>       
      </tr>     
  </table>
  
  <p>
    <%= f.submit %>
  </p>

<% end %>